<ion-view title="Hallo">
    <ion-content padding="true" class="has-header">
        <h1>{{greetingVariable}}</h1>
        <!-- Anstatt hier immer nur ein bestimmtes Bild anzuzeigen, wollen wir unterschiedliche Bilder anzeigen.
        Deshalb benutzen wir die imageVariable, die im HelloCtrl gesetzt wird. -->
        <img src="{{imageVariable}}"/>
        <div>
            <p>Wie heißt Du?</p>
            <!-- Die nameVariable nimmt den Wert auf, den der Nutzer in das input (Eingabe) Feld eingibt, wenn
            ein Submit (Übergabe) stattfindet, also der Nutzer Enter drückt oder den Button drückt.
            Der Wert in der nameVariable wird dann an die changeGreetingFunction weitergegeben. -->
            <form ng-submit=changeGreetingFunction(nameVariable)>
                <label class="item item-input">
                    <input type="text" ng-model="nameVariable"></input>
                </label>
                <button class="button button-stable button-block ">Abschicken!</button>
            </form>
        </div>
    </ion-content>
</ion-view>
