<ion-view title="Beispiel Liste">
    <ion-content padding="true" class="has-header">
        <h3>Suche nach "Ionic"</h3>
        <ion-list>
            <ion-item class="item-divider">Gefunden in Links</ion-item>
            <ion-item>http://ionicframework.com/</ion-item>
            <ion-item>https://creator.ionic.io/</ion-item>
            <ion-item>http://view.ionic.io/</ion-item>
            <ion-item class="item-divider">Gefunden in Nachrichten</ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Hallo Du!</h2>
                <p>... Ionic ausprobieren ...</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Ionic macht Spaß</h2>
                <p>... Dir auch?</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
