  <ion-tabs class="tabs-stable tabs-icon-top">
      <ion-tab title="Hallo" icon="ion-home">
        <ion-pane>
          <ion-content padding="true" class="has-tabs has-header">
              <h1>Willkommen!</h1>
              <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
                  <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
              </div>
              <h3>Wähle ein Beispiel</h3>
          </ion-content>
        </ion-pane>
      </ion-tab>
      <ion-tab title="Suche" icon="ion-search">
        <ion-pane>
          <ion-content padding="true" class="has-tabs has-header">
              <form>
                  <label class="item item-input">
                      <i class="icon ion-search placeholder-icon"></i>
                      <input type="search" placeholder="Was suchst Du? Z.B. Ionic...">
                  </label>
                  <button class="button button-stable button-block ">Finden!</button>
              </form>
          <!--
            </ion-content>
            <ion-content padding="true" class="has-tabs has-header">
          -->
              <h3>Suche nach "Ionic"</h3>
              <ion-list>
                  <ion-item class="item-divider">Gefunden in Links</ion-item>
                  <ion-item>http://ionicframework.com/</ion-item>
                  <ion-item>https://creator.ionic.io/</ion-item>
                  <ion-item>http://view.ionic.io/</ion-item>
                  <ion-item class="item-divider">Gefunden in Nachrichten</ion-item>
                  <ion-item class="item-thumbnail-left">
                      <img src="/img/avatar-img.png">
                      <h2>Hallo Du!</h2>
                      <p>... Ionic ausprobieren ...</p>
                  </ion-item>
                  <ion-item class="item-thumbnail-left">
                      <img src="/img/avatar-img.png">
                      <h2>Ionic macht Spaß</h2>
                      <p>... Dir auch?</p>
                  </ion-item>
              </ion-list>
          </ion-content>
        </ion-pane>
      </ion-tab>
      <ion-tab title="Formular" icon="ion-filing">
        <ion-pane>
          <ion-content padding="true" class="has-tabs has-header">
              <form>
                  <label class="item item-select">
                      <span class="input-label">Ich bin ...</span>
                      <select></select>
                  </label>
                  <ion-toggle toggle-class="toggle-positive">Schick mir Emails</ion-toggle>
                  <ion-checkbox>zum Thema HTML</ion-checkbox>
                  <ion-checkbox>zum Thema CSS</ion-checkbox>
                  <ion-checkbox>zum Thema Javascript</ion-checkbox>
                  <label class="item item-input">
                      <span class="input-label">Email:</span>
                      <input type="email" placeholder="email@example.com">
                  </label>
                  <button class="button button-stable button-block ">Tap me!</button>
              </form>
          </ion-content>
        </ion-pane>
      </ion-tab>
  </ion-tabs>
